.container {
  width: 80%;
  margin: auto;
}

.form-group {
  width: 100%;
  height: 240px;
  float: left;
  padding-top: 150px;
  padding-left: 50px;
  display: flex;
}

.h1 {
  color: blueviolet;
  text-align: center;
}

.form-control {
  padding: 3px;
  width: 200px;
  margin: 5px;
}

table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td,
th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}